body {
    background-image: url("../assets/images/full-lake-dusk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25px;
}

h1 {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

canvas {
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.headers {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

#user-score {
    width: 50%;
    text-align: center;
}

#timer {
    width: 50%;
    text-align: center;
}

#timer > span {
    width: 40px;
    display: inline-block;
}

#main-content {
    position: relative;
}

.score-form {
   position: absolute;
   right: 50%;
   bottom: 45%;
}

.score-form > input {
    border: none;
    padding: 10px;
    font-size: 35px;
    color: #C97E44;
    text-align: center;
    background: transparent;
    font-weight: bold;
}

.score-form > input::placeholder {
    color: #C97E44;
    text-align: center;
}

.leaderboard-container {
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: #1E141D;
    width: 15%;
    height: 60%;
}

.leaderboard-container > h1 {
    color: #FE6C91;
    width: 100%;
}

.leaderboard-container > ol {
    width: 100%;
    font-family: Open Sans;
    font-weight: bold;
}

#leaderboard > li {
    color: #C7709A;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
}