body {
    background-image: url("../assets/images/full-lake-dusk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25px;
}

h1 {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

canvas {
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.headers {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

#user-score {
    width: 50%;
    text-align: center;
}

#timer {
    width: 50%;
    text-align: center;
}

#timer > span {
    width: 40px;
    display: inline-block;
}